body {
  background-color: #dfe2e2;
  color: #3c415e;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1,h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #1cb3c8;
  font-size: 30px;
}

h2 {
  color: #738598;
  font-size: 24px;
}

h3 {
  color: #3c415e;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a {
  color: #3c415e;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;

}

a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

@media (max-width: 2000px) {
  .container {
    width: 960px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
  }
}

@media (max-width: 720px) {
  .container {
    width: 540px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
  }
}

.card {
  margin : 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.avatar {
  width: 170px;
  margin center;
  border-radius: 50%;
}

.text-center {
  text-align: center;

}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-no-point {
  list-style: none;
}


tr td:last-child {
    padding-left: 20px;
}

table {
  border-spacing: 5px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1cb3c8;
  transition: background 0.3s ease;
}
.btn-flat:hover {
  background: #1cb3c8;
  color: white;
}

.img-circle {
  border-radius: 50%;
}

#sidebar {
  position: fixed;
  width: 130px;
  left: 0;
  top: 0;
  bottom: 0;
  color: #dfe2e2 ;
  background-color: #3c415e;
  font-size: 25px;
}

#sidebar a{
  color: #dfe2e2;
  font-size: 35px;
}

#sidebar a:hover {
  color: #dfe2e2;
}

#sidebar ul {
  padding-left: 0px;
}

#sidebar li {
  margin-bottom: 20px;
}


#page-content {
  margin-left: 300px;
}
